<!-- banner-area-start -->
<div class="banner-area banner-res-large ptb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="single-banner">
                    <div class="banner-img">
                        <a href="#"><img src="images/banner/1.png" alt="banner" /></a>
                    </div>
                    <div class="banner-text">
                        <h4>免运费</h4>
                        <p>对于订单金额超过50元的商品</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="single-banner">
                    <div class="banner-img">
                        <a href="#"><img src="images/banner/2.png" alt="banner" /></a>
                    </div>
                    <div class="banner-text">
                        <h4>退款保证</h4>
                        <p>100%的退款保证</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                <div class="single-banner">
                    <div class="banner-img">
                        <a href="#"><img src="images/banner/3.png" alt="banner" /></a>
                    </div>
                    <div class="banner-text">
                        <h4>放心购物</h4>
                        <p>所有商品均支持货到付款</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="single-banner mrg-none-xs">
                    <div class="banner-img">
                        <a href="#"><img src="images/banner/4.png" alt="banner" /></a>
                    </div>
                    <div class="banner-text">
                        <h4>帮助与服务</h4>
                        <p>电话热线: 022-1234567</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner-area-end -->