<span class="pull-right">
            技术支持：<span ng-bind-html="config.technicalSupport"></span>
</span>
&copy; {{config.owner}} {{config.beginYear}}-{{config.currentYear}}


<div class="testimonial-area ptb-100 bg" style="background-position: 50% 11px;">
    <div class="container">
        <div class="row">
            <div class="testimonial-active owl-carousel owl-loaded owl-drag">


                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3510px, 0px, 0px); transition: all 1s ease 0s; width: 7020px;"><div class="owl-item cloned" style="width: 1170px;"><div class="col-lg-12">
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <a href="#"><i class="fa fa-quote-right"></i></a>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                当一艘船沉入海底，当一个人成了谜，你不知道，他们为何离去，那声再见竟是他最后一句。当一辆车消失天际，当一个人成了谜，你不知道，他们为何离去，就像你不知道这竟是结局。
                            </p>
                            <a href="#">韩寒 《后会无期》</a>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1170px;"><div class="col-lg-12">
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <a href="#"><i class="fa fa-quote-right"></i></a>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                我们永远都在崇拜着那些闪闪发亮的人。我们永远觉得他们像是神祗一样的存在。他们用强大而无可抗拒的魅力和力量征服着世界。但是我们永远不知道，他们用什么样的代价，去换来了闪亮的人生。
                            </p>
                            <a href="#">郭敬明 《小时代》</a>
                        </div>
                    </div>
                </div></div><div class="owl-item" style="width: 1170px;"><div class="col-lg-12">
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <a href="#"><i class="fa fa-quote-right"></i></a>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                当一艘船沉入海底，当一个人成了谜，你不知道，他们为何离去，那声再见竟是他最后一句。当一辆车消失天际，当一个人成了谜，你不知道，他们为何离去，就像你不知道这竟是结局。
                            </p>
                            <a href="#">韩寒 《后会无期》</a>
                        </div>
                    </div>
                </div></div><div class="owl-item active" style="width: 1170px;"><div class="col-lg-12">
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <a href="#"><i class="fa fa-quote-right"></i></a>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                我们永远都在崇拜着那些闪闪发亮的人。我们永远觉得他们像是神祗一样的存在。他们用强大而无可抗拒的魅力和力量征服着世界。但是我们永远不知道，他们用什么样的代价，去换来了闪亮的人生。
                            </p>
                            <a href="#">郭敬明 《小时代》</a>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1170px;"><div class="col-lg-12">
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <a href="#"><i class="fa fa-quote-right"></i></a>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                当一艘船沉入海底，当一个人成了谜，你不知道，他们为何离去，那声再见竟是他最后一句。当一辆车消失天际，当一个人成了谜，你不知道，他们为何离去，就像你不知道这竟是结局。
                            </p>
                            <a href="#">韩寒 《后会无期》</a>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1170px;"><div class="col-lg-12">
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <a href="#"><i class="fa fa-quote-right"></i></a>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                我们永远都在崇拜着那些闪闪发亮的人。我们永远觉得他们像是神祗一样的存在。他们用强大而无可抗拒的魅力和力量征服着世界。但是我们永远不知道，他们用什么样的代价，去换来了闪亮的人生。
                            </p>
                            <a href="#">郭敬明 《小时代》</a>
                        </div>
                    </div>
                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
        </div>
    </div>
</div>
<!-- testimonial-area-end -->
<!-- social-group-area-start -->
<div class="social-group-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title-3">
                    <h3>最新消息</h3>
                </div>
                <div class="twitter-content">
                    <div class="twitter-icon">
                        <a href="https://weibo.com/u/5773585535?is_all=1"><i class="fa fa-weibo"></i></a>
                    </div>
                    <div class="twitter-text">
                        <p>
                            宁做草原上自由奔啸的狼，决不做马戏团衣食无忧的老虎！我们的服务已不满足于客户的认可，超越顾客期望，把顾客服务到绝望为止，才是我们的成功！
                        </p>
                        <a href="#">三人行</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title-3">
                    <h3>联系我们</h3>
                </div>
                <div class="link-follow">
                    <ul>
                        <li><a href="https://weibo.com/u/5773585535?is_all=1"><i class="fa fa-weibo"></i></a></li>
                        <li><a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/chuhang123"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- social-group-area-end -->
<!-- footer-area-start -->
<footer>
    <!-- footer-top-start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-top-menu bb-2">
                        <nav>
                            <ul>
                                <li><a href="#">首页</a></li>
                                <li><a href="#">联系我们</a></li>
                                <li><a href="https://chuhang123.github.io/">博客</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top-start -->
    <!-- footer-bottom-start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row bt-2">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="copy-right-area">
                        <p>Power by <a href="https://chuhang123.github.io/">chuhang</a> Theme ©<a href="http://www.bootstrapmb.com/">Koparion</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="payment-img text-right">
                        <a href="#"><img src="images/1.png" alt="payment" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom-end -->
</footer>
