<div class="color-line">
</div>
<div id="logo" class="light-version">
        <span>
            主页
        </span>
</div>
<nav role="navigation">
    <minimaliza-menu>
        <div class="header-link hide-menu" ng-click="minimalize()"><i class="fa fa-bars"></i></div>
    </minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">HOMER APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" placeholder="Search something special" class="form-control" name="search">
        </div>
    </form>
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse"
                data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="common.login">Login</a>
                </li>
                <li>
                    <a ui-sref="common.register">Logout</a>
                </li>
                <li>
                    <a ui-sref="app_views.profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li>
                <a ui-sref="system.Personal" title="个人中心">
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav no-borders">
            <li>
                <a href="javascript:void(0);" id="logout" ng-click="logout()" title="注销">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
