<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs-menu">
                    <ul>
                        <li><a ui-sref="main.dashboard" ng-click="hideInformation()">首页</a></li>
                        <li><a href="" class="active">图书</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs-area-end -->
<!-- shop-main-area-start -->
<div class="shop-main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="shop-left">
                    <div class="section-title-5 mb-30">
                        <h2>图书类别</h2>
                    </div>
                    <div class="left-menu mb-30">
                        <ul>
                            <li ng-repeat="data in categorys"><a ui-sref="book({categoryId: data.id})">{{data.name}}<span></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="section-title-5 mb-30">
                    <h2>图书列表</h2>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="single-shop mb-30" ng-repeat="data in books">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="product-wrapper-2">
                                        <div class="product-img">
                                            <a ui-sref="bookDetail({id: data.id})">
                                                <img class="image" ng-src="{{data.attachment.saveName | imagePath}}" alt="{{_image.name}}"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="product-wrapper-content">
                                        <div class="product-details">
                                            <h4><a ui-sref="bookDetail({id: data.id})">{{data.name}}</a></h4>
                                            <div class="product-price">
                                                <ul>
                                                    <li>￥{{data.price}}</li>
                                                    <li class="old-price">￥{{data.originalPrice}}</li>
                                                </ul>
                                            </div>
                                            <p>{{data.briefIntroduction}}										</p>
                                        </div>
                                        <div class="product-link">
                                            <div class="product-button">
                                                <a href="" title="加入购物车" ng-click="addToCart(data.id)"><i class="fa fa-shopping-cart"></i>加入购物车</a>
                                            </div>
                                            <div class="add-to-link">
                                                <ul>
                                                    <li><a ui-sref="bookDetail({id: data.id})" title="产品详情"><i class="fa fa-external-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
                <!--&lt;!&ndash; pagination-area-start &ndash;&gt;-->
                <!--<div class="pagination-area mt-50">-->
                    <!--<div class="list-page-2">-->
                        <!--<p>Items 1-9 of 11</p>-->
                    <!--</div>-->
                    <!--<div class="page-number">-->
                        <!--<ul>-->
                            <!--<li><a href="#" class="active">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                            <!--<li><a href="#" class="angle"><i class="fa fa-angle-right"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; pagination-area-end &ndash;&gt;-->
            </div>
        </div>
    </div>
</div>
<!-- shop-main-area-end -->