<br><br><br>

<div class="contact-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-info">
                    <h3>联系信息</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>地址: </span>
                            天津市天津职业技术师范大学
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span>电话: </span>
                            (86) 022-1234567
                        </li>
                        <li>
                            <i class="fa fa-mobile"></i>
                            <span>邮箱: </span>
                            <a href="#">10a10150106@tute.edu.cn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>