<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<!-- Main Wrapper -->
<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center m-t-md">
        <h2>
          三人行图书销售网店欢迎您！
        </h2>

      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-lg-12 ">-->
        <!--<div class="hpanel">-->
          <!--<div class="panel-heading">-->
            <!--<div panel-tools></div>-->
            <!--网站数据统计分析-->
          <!--</div>-->
          <!--<div class="panel-body">-->
            <!--<div class="row">-->
              <!--<div class="col-md-3 text-center">-->
                <!--<div class="small">-->
                  <!--<i class="fa fa-bolt"></i> Page views-->
                <!--</div>-->
                <!--<div>-->
                  <!--<h1 class="font-extra-bold m-t-xl m-b-xs">-->
                    <!--226,802-->
                  <!--</h1>-->
                  <!--<small>图书点击量</small>-->
                <!--</div>-->
                <!--<div class="small m-t-xl">-->
                  <!--<i class="fa fa-clock-o"></i> Data from January-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="text-center small">-->
                  <!--<i class="fa fa-laptop"></i> Active users in current month (December)-->
                <!--</div>-->
                <!--<div class="flot-chart" style="height: 160px">-->
                  <!--<div flot class="flot-chart-content" dataset="chartUsersData" options="chartUsersOptions"></div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-3 text-center">-->
                <!--<div class="small">-->
                  <!--<i class="fa fa-clock-o"></i> Active duration-->
                <!--</div>-->
                <!--<div>-->
                  <!--<h1 class="font-extra-bold m-t-xl m-b-xs">-->
                    <!--10 Months-->
                  <!--</h1>-->
                  <!--<small>And four weeks</small>-->
                <!--</div>-->
                <!--<div class="small m-t-xl">-->
                  <!--<i class="fa fa-clock-o"></i> Last active in 12.10.2015-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel-footer">-->
                    <!--<span class="pull-right">-->
                          <!--You have two new messages from <a href="">Monica Bolt</a>-->
                    <!--</span>-->
            <!--Last update: 21.05.2015-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <!-- Footer -->
  <footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
