<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="DataTables_Table_0_wrapper">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <yunzhi-exportbtn></yunzhi-exportbtn>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="1%">序号</th>
                        <th width="3%">用户名</th>
                        <th width="3%">电话</th>
                        <th width="3%">地址</th>
                        <th width="3%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, data) in datas" ng-hide="data.hide">
                        <td style="word-wrap: break-word">{{$index+1}}</td>
                        <td style="word-wrap: break-word">{{data.id}}</td>
                        <td style="word-wrap: break-word">{{data.phone}}</td>
                        <td style="word-wrap: break-word">{{data.address}}</td>
                        <td style="word-wrap: break-word;">
                            <a ui-sref="" ng-click="resetPassword(data.id)" class="btn btn-xs btn-danger">
                                重置密码&nbsp;</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <yunzhi-page data-reload="reloadByPage" data-total-pages="data.totalPages" data-total-elements="data.totalElements" data-first="data.first" data-last="data.last" data-number="data.number" data-size="data.size" data-number-of-elements="data.numberOfElements"></yunzhi-page>
            </div>
        </div>
    </div>
</div>
